*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fa;
    color:#333;
}

header{
    background:#1f2937;
    position:fixed;
    width:100%;
    top:0;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px;
}

.logo{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:100px 10%;
}

.hero-text h1{
    font-size:50px;
}

.hero-text span{
    color:#2563eb;
}

.hero-text p{
    margin:20px 0;
    color:#666;
}

button{
    padding:12px 28px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}

.hero-img img{
    width:300px;
}

.about,
.skill,
.contact{
    padding:90px 10%;
    text-align:center;
}

.about p{
    width:70%;
    margin:auto;
    margin-top:20px;
    line-height:30px;
}

.card-container{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#2563eb;
    margin-bottom:15px;
}

.contact p{
    margin-top:15px;
}

footer{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-img img{
    margin-top:40px;
    width:220px;
}

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
}

.about p{
    width:100%;
}

}
